.band {
  @include bleed-x(10%);
  @include susy-media(40rem) {
    padding-bottom: $section-padding;
    padding-top: $section-padding;
  }

  overflow: auto;
  padding-bottom: $section-padding / 2;
  padding-top: $section-padding / 2;

  &--header {
    $header-size: 3rem;
    @include header($header-size);
    text-align: center;

    &--dark {
      @include header($header-size, $text-color-light);
      text-align: center;
    }
  }

  &--sub-header {
    @include header(1.5rem, $text-color-blue);
    text-align: center;
  }

  &--summary {
    @extend %grid-half;

    float: none;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: $inner-padding * 2;
  }

  &--body {
    @extend %grid-half-padded;

    p {
      &:not(:last-child) {
        margin-bottom: $inner-padding;
      }
    }

    &:not(:last-child) {
      margin-bottom: $inner-padding;
    }

    @include breakpoint ($break-sm) {
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  &:nth-child(2n + 3) {
    background-color: $banner-blue;
  }

  &.dark {
    background-color: $banner-redish;
    color: $text-color-light;
  }
}

.band-split {
  @extend %grid-half-padded;
}

.centered {
  text-align: center;
}
