$banner-blue: rgba(112, 167, 178, .15);
$banner-grey: rgba(16, 16, 16, .75);

$text-color-light: #fff;
$text-color-dark: #000;
$text-color-blue: #70a7b2;
$text-gray: rgba(28, 13, 10, .7);

$site-bg-color: rgba(28, 13, 10, .75);
