$banner-blue: rgba(112, 167, 178, .15);
$banner-redish: rgba(28, 13, 10, .75);
$banner-greenish: #70a7b2;

$text-color-light: #fff;
$text-color-dark: #000;
$text-color-blue: #70a7b2;
$text-gray: rgba(28, 13, 10, .7);
