@import 'susy';

$cols: 13;
$break-sm: 600px;
$break-md: 800px;
$break-lg: 1150px;

$section-padding: 5rem;
$inner-padding: 2rem;

$susy: (
  columns: $cols,
  gutter-position: inside,
  container: 90%,
);

%grid-half {
  @include breakpoint ($break-sm) {
    @include span($cols/2);

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

// hack to come back to which "centers", providing extra padding on left/right
@mixin grid-half-padded ($break-size) {
  @extend %grid-adjust;

  float: none;
  margin-left: auto;
  margin-right: auto;

  &:not(:last-child) {
    margin-bottom: $inner-padding;
  }

  @include breakpoint ($break-size) {
    @include push(1);
    @include span(5);

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

// sort of hack to take element out of grid, float, and center it
%grid-center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

%grid-adjust {
  @include breakpoint ($break-sm) {
    @include span(80%);
  }

  @include breakpoint ($break-md) {
    @include span(60%);
  }

  @include breakpoint ($break-lg) {
    @include span(50%);

  }
}
