@import 'susy';

$cols: 12;
$break-sm: 600px;

$section-padding: 5rem;
$inner-padding: 1.4rem;

$susy: (
  columns: $cols,
  gutter-position: inside,
  container: 90%,
);

%grid-half {
  &:not(:last-child) {
    margin-bottom: 2 * $inner-padding;
  }

  @include breakpoint ($break-sm) {
    @include span($cols/2 of $cols);

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

// hack to come back to which "centers", providing extra padding on left/right
%grid-half-padded {
  @extend %grid-half;

  @include breakpoint ($break-sm) {
    @include push(1 of 13);
    @include span(5 of 13);
  }
}

// sort of hack to take element out of grid, float, and center it
%grid-center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
