$header-gray: rgba(28, 13, 10, .9);

@mixin header($font-size, $color: $header-gray) {
  @include breakpoint($break-sm) {
    font-size: $font-size;
  }
  color: $color;
  font-family: 'PT Sans', sans-serif;
  font-size: .625 * $font-size;
  letter-spacing: .15rem;
  padding-bottom: $inner-padding;
  text-transform: uppercase;
}
