@import 'toolkit/reset';
@import 'toolkit';
@import 'breakpoint';
@import './lightgallery.min.css';
@import 'colors';
@import 'lg-overrides';
@import 'grid';
@import 'header';
@import 'band';
@import 'button';

body {
  color: $text-gray;
  font-family: Arvo, serif;
  font-size: 1.1em;
  overflow-x: hidden;
}

p {
  line-height: 1.75rem;
}

a {
  font-family: 'PT Sans', sans-serif;
}

main {
  @include container;
}

.top-text {
  @include header(1.4rem, $text-color-blue);
  position: absolute;
  text-align: center;
  top: $inner-padding;
  width: 100%;
}

.page-nav {
  position: absolute;
  top: 75vh;
}

.splash {
  @include bleed-x(10%);

  align-items: center;
  background-color: $banner-redish;
  // sass-lint:disable no-url-domains,no-url-protocols
  background-image: url('https://res.cloudinary.com/nickandmandy/image/upload/c_scale,h_1600,co_rgb:281310,e_colorize:75,o_100,fl_progressive,q_auto:low/v1488800757/venue-2.jpg');
  // sass-lint:enable no-url-domains,no-url-protocols
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $text-color-light;
  display: flex;
  min-height: calc(75vh);
  text-align: center;

  &--header {
    @include header(3rem, white);
  }

  &--body {
    @include header(1.2rem, white);
  }

  &--content {
    margin-left: auto;
    margin-right: auto;
  }
}

.bookings {
  &--info {
    display: block;
    padding-bottom: $inner-padding;
  }

  &--phone {
    color: $text-gray;
    display: inline-block;
    padding: $inner-padding 0;
    position: relative;
    text-decoration: none;

    &::before {
      background-color: $text-gray;
      bottom: calc(#{$inner-padding} - 4px);
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      transform: scaleX(0);
      transition: transform .3s ease-in-out 0s, visibility .3s ease-in-out 0s;
      visibility: hidden;
      width: 100%;
    }

    &:hover {
      &::before {
        transform: scaleX(1);
        visibility: visible;
      }
    }
  }
}

.info-row {
  overflow: auto;
  padding: $inner-padding 0;

  &--header {
    @include header(1.5rem, $text-color-blue);
    @include push(1 of 13);
    @include span(2 of 13);

    padding-top: 2px;
  }

  &--content {
    @include push(1 of 13);
    @include span(8 of 13);
  }
}

[property='schema:name'] {
  display: block;
  font-size: 1.4rem;
  letter-spacing: 2px;
  padding-bottom: $inner-padding;
  text-transform: uppercase;
}

.photo-grid {
  @include gallery(4 of 12);

  margin-bottom: 1.1%;
}

.registry {
  display: block;
  text-align: Center;
}

.crate-and-barrel {
  padding: 15px;
}
