@import 'toolkit/reset';
@import 'toolkit';
@import 'colors';
@import 'grid';
@import 'header';
@import 'band';
@import 'button';

body {
  overflow-x: hidden;
}

p {
  line-height: 1.4rem;
}

main {
  @include container;
}

.top-text {
  color: $text-color-blue;
  font-size: 1.4rem;
  position: absolute;
  text-align: center;
  top: $inner-padding;
  width: 100%;
}

.page-nav {
  position: absolute;
  top: 75vh;
}

.splash {
  @include bleed-x(10%);

  align-items: center;
  background-color: $banner-grey;
  // sass-lint:disable no-url-domains,no-url-protocols
  background-image: url('https://res.cloudinary.com/nickandmandy/image/upload/c_scale,co_rgb:101010,e_colorize:75,o_100,fl_progressive,q_auto:low/v1487574878/venue.jpg');
  // sass-lint:enable no-url-domains,no-url-protocols
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $text-color-light;
  display: flex;
  min-height: calc(75vh);
  text-align: center;

  &--header {
    @include header(3rem);
    letter-spacing: .3rem;
  }

  &--body {
    font-size: 1rem;
    letter-spacing: .2rem;
    margin-bottom: $inner-padding;
  }

  &--content {
    margin-left: auto;
    margin-right: auto;
  }
}

.bookings {
  @extend %grid-nest;
  display: flex;

  &--info {
    display: inline-block;
    padding-bottom: $inner-padding;
  }

  &--phone {
    display: inline-block;
    padding: $inner-padding 0;
  }
}
