---
title: 'Nick & Mandy'
---
{% extends '_default.html' %}

{%block content %}
<header class="splash">
  <div class="splash--content">
    <h1 class="splash--header">We're Getting Married!</h1>
    <p class="splash--body">June 3, 2017 / Portsmouth / Virginia</p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScdpH5E0K_wF2V6ERVw18Qj_IrLd7R8lHqf9ke0PNjODvLs8g/viewform" class="button--inverse">RSVP</a>
  </div>
</header>
<section class="band" id="story">
  <header class="band--head">
    <h2 class="band--header">Our Story</h2>
  </header>
  <div class="band--body">
    <p>Nick and Mandy met in high school &mdash; though they didn't date back then. They both liked each other, but didn't act on it being foolish young teenagers.</p>
    <p>Nick was a year ahead of Mandy, but she ended up going to UNC as well. They struck up a few conversations and went to more than a few parties together. They made it "Facebook official" in 2010, shortly before Nick deleted his Facebook. He now uses Mandy to keep in contact with everyone.</p>
  </div>
  <div class="band--body">
    <p>At this point, they've been together for about 6 and a half years. The relationship held strong through over 20 months of studying abroad and remote work. Over the years a lot has changed for them &mdash; they've had a few roommates, moved cities, changed jobs, and picked up a couple of pets. The only 'constant' for each of them was the other &mdash; and they'd like to keep it that way. So after 6 years they're finally getting married!</p>
  </div>
</section>
<section class="band" id="details">
  <header class="band--head">
    <h2 class="band--header">Wedding Details</h2>
    <p class="band--summary">The ceremony will be on the waterfront of the Elizabeth River in Portsmouth, Virginia. Our awesome family friends, the Barhams, have been so gracious to lend us their beautiful yard for our wedding. After the ceremony there will be plenty of food, drinks, and music &mdash; so come prepared to dance!</p>
  </header>
  <section class="band-split centered">
    <h3 class="band--sub-header">The "I Do's"</h3>
    <p>4:15p – 4:45p</p>
    <p>4101 Duke Dr</p>
    <p>Portsmouth, VA</p>
  </section>
  <section class="band-split centered">
    <h3 class="band--sub-header">The Afterparty</h3>
    <p>5:00p – 10:00p</p>
    <p>4101 Duke Dr</p>
    <p>Portsmouth, VA</p>
  </section>
</section>
<section class="band" id="accommodations">
  <header class="band--head">
    <h2 class="band--header">Hotels</h2>
    <p class="band--summary">Blocks of rooms have been reserved at the following hotels. Both are about 15 minutes from the wedding site. Mention the Drake-Bartlett wedding to receive the wedding group discount.</p>
  </header>
  <section class="bookings">
    <section class="band-split centered">
      <p translate="no" typeof="schema:PostalAddress">
        <span property="schema:name">Renaissance Portsmouth-Norfolk Waterfront Hotel</span>
        <span property="schema:streetAddress">425 Water St</span><br>
        <span property="schema:addressLocality">Portsmouth</span>, <abbr title="Virginia" property="schema:addressRegion">VA</abbr> <span property="schema:postalCode">23704</span> <abbr property="schema:addressCountry">USA</abbr>
      </p>
      <a class="bookings--phone" href="tel:+01-757-673-3000">1-757-673-3000</a>
      <p class="bookings--info">(Note that onsite parking is $10/day)</p>
      <a href="https://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Drake%20Bartlett%20Wedding%20Room%20Block%5Eorfpt%60DBWDBWA%60119.00%60USD%60false%604%606/2/17%606/4/17%6005/3/2017" target="_blank" class="button">Book Online</a>
    </section>
    <section class="band-split centered">
      <p translate="no" typeof="schema:PostalAddress">
        <span property="schema:name">Hilton Garden Inn Chesapeake-Suffolk</span>
        <span property="schema:streetAddress">5921 Harbour View Blvd</span><br>
        <span property="schema:addressLocality">Suffolk</span>, <abbr title="Virginia" property="schema:addressRegion">VA</abbr> <span property="schema:postalCode">23435</span> <abbr property="schema:addressCountry">USA</abbr>
      </p>
      <a class="bookings--phone" href="tel:+01-757-484-9001">1-757-484-9001</a><br>
      <a href="https://hiltongardeninn3.hilton.com/en/hotels/virginia/hilton-garden-inn-chesapeake-suffolk-PSMSUGI/index.html" target="_blank" class="button">Book online</a>
    </section>
  </section>
</section>
<section class="band" id="more-info">
  <header class="band--head">
    <h2 class="band--header">More Info</h2>
    <p class="band--summary centered">Need to know more? Please reach out and ask!</p>
  </header>
  <section class="band-split">
    <h3 class="band--sub-header">Attire</h3>
    <p>We're thrilled to have you no matter your dress! But if you'd like some guidance, dressy-casual or cocktail attire is perfect. The ceremony and reception will both take place on grass, so keep that in mind when choosing your footwear. It will likely be warm and sunny (don't forget your sunglasses!) but could potentially get a little chilly on the water when the sun goes down.</p>
  </section>
  <section class="band-split">
    <h3 class="band--sub-header">Parking</h3>
    <p>Ideally, there will be parking right at the wedding venue in a lot adjacent to the property, but we're still working out the details. If this lot is not available, we will have parking attendants and/or a valet service. Either way, simply drive to 4101 Duke Dr and someone will direct you where to go!</p>
  </section>
</section>
<section class="band dark" id="photos">
  <header class="band--head">
    <h2 class="band--header--dark">Photos</h2>
  </header>
  <div id="lightGallery">
    <a class="photo-grid" href="https://res.cloudinary.com/nickandmandy/image/upload/fl_progressive,q_auto:low,c_fill,h_500,w_500/v1488800757/us-krabi-2.jpg">
      <img src="https://res.cloudinary.com/nickandmandy/image/upload/fl_progressive,q_auto:low,c_fill,h_500,w_500/v1488800757/us-krabi-2.jpg">
    </a>
    <a class="photo-grid" href="https://res.cloudinary.com/nickandmandy/image/upload/fl_progressive,q_auto:low,c_fill,h_500,w_500/v1488800756/us-eiffel-2.png">
      <img src="https://res.cloudinary.com/nickandmandy/image/upload/fl_progressive,q_auto:low,c_fill,h_500,w_500/v1488800756/us-eiffel-2.png">
    </a>
    <a class="photo-grid" href="https://res.cloudinary.com/nickandmandy/image/upload/fl_progressive,q_auto:low,c_fill,h_500,w_500/v1488800758/us-hotel.png">
      <img src="https://res.cloudinary.com/nickandmandy/image/upload/fl_progressive,q_auto:low,c_fill,h_500,w_500/v1488800758/us-hotel.png">
    </a>
    <a class="photo-grid" href="https://res.cloudinary.com/nickandmandy/image/upload/fl_progressive,q_auto:low,c_fill,h_500,w_500/v1488800757/us-park-2.png">
      <img src="https://res.cloudinary.com/nickandmandy/image/upload/fl_progressive,q_auto:low,c_fill,h_500,w_500/v1488800757/us-park-2.png">
    </a>
    <a class="photo-grid" href="https://res.cloudinary.com/nickandmandy/image/upload/fl_progressive,q_auto:low,c_fill,h_500,w_500/v1488800756/us-falcons-stadium-2.jpg">
      <img src="https://res.cloudinary.com/nickandmandy/image/upload/fl_progressive,q_auto:low,c_fill,h_500,w_500/v1488800756/us-falcons-stadium-2.jpg">
    </a>
    <a class="photo-grid" href="https://res.cloudinary.com/nickandmandy/image/upload/fl_progressive,q_auto:low,c_fill,h_500,w_500/v1488800754/us-kayak-2.jpg">
      <img src="https://res.cloudinary.com/nickandmandy/image/upload/fl_progressive,q_auto:low,c_fill,h_500,w_500/v1488800754/us-kayak-2.jpg">
    </a>
    <a class="photo-grid" href="https://res.cloudinary.com/nickandmandy/image/upload/c_fill,h_500,w_500,fl_progressive,q_auto:low/v1488800758/us-spaceneedle.jpg">
      <img src="https://res.cloudinary.com/nickandmandy/image/upload/c_fill,h_500,w_500,fl_progressive,q_auto:low/v1488800758/us-spaceneedle.jpg">
    </a>
    <a class="photo-grid" href="https://res.cloudinary.com/nickandmandy/image/upload/fl_progressive,q_auto:low,c_fill,h_500,w_500,x_70/v1488800756/us-beach-2.png">
      <img src="https://res.cloudinary.com/nickandmandy/image/upload/fl_progressive,q_auto:low,c_fill,h_500,w_500,x_70/v1488800756/us-beach-2.png">
    </a>
    <a class="photo-grid" href="https://res.cloudinary.com/nickandmandy/image/upload/fl_progressive,q_auto:low,c_fill,h_500,w_500/a_180/v1488800757/us-rainer-2.jpg">
      <img src="https://res.cloudinary.com/nickandmandy/image/upload/fl_progressive,q_auto:low,c_fill,h_500,w_500/a_180/v1488800757/us-rainer-2.jpg">
    </a>
  </div>
</section>
<!--<section class="band" id="wedding-party">
  <header class="band--head">
    <h2 class="band--header">Wedding Party</h2>
    <p class="band--summary">Meet the awesome people who will be standing by our side as we say "I do!"</p>
  </header>
</section>-->
<section class="band" id="registry">
  <header class="band--head">
    <h2 class="band--header">Registry</h2>
    <p class="band--summary">Your presence at our wedding is more than enough. However, if you would like to send a traditional gift, we are working on setting up registries. Check back soon!</p>
  </header>
</section>

{% endblock %}
