<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% if title %}{{ title }}{%else}nickandmandy.wedding{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="rRqzz6mXZ3Vf07FB1-nfG6lR8G-7upBqbKSu0P8qq7o">
  <meta name="description" content="The wedding of Mandy Drake and Nick Bartlett - RSVP and get information about date, location, registry, and more.">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
</head>
<body>

  <h1 class="top-text">Nick &amp; Mandy</h1>
  <!--<nav class="page-nav">
    <ul>
      <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScdpH5E0K_wF2V6ERVw18Qj_IrLd7R8lHqf9ke0PNjODvLs8g/viewform">RSVP</a></li>
      <li><a href="#story">About Us</a></li>
      <li><a href="#details">Where and When</a></li>
      <li><a href="#accommodations">Accommodations</a></li>
      <li><a href="#more-info">Attire and Parking</a></li>
      <li><a href="#photos">Photos</a></li>
      <li><a href="#wedding-party">Wedding Party</a></li>
      <li><a href="#registry">Registry</a></li>
    </ul>
  </nav>-->

  <main>
    {% block content %}{% endblock %}
  </main>

  <script src="/js/main.js" defer></script>
</body>
</html>
